<div class="work">
  <h1>Work</h1>
  <div class="work1">
    <div class="work-img">
      <img class = "pc" src="../../public/pc.png" alt="pc">
    <img class = "work1-image" src="../../public/work1.png" alt="work1">
    </div>
    <div class="work-description">

      <h2>CIRCLEY</h2>
      <p class ="japanese">企業さま連携ページ</p>
      <p class ="english">Corporate Collaboration Page</p>

      <p class ="japanese">こちらのプロジェクトでは、企業との連携をサポートするためのページをデザインしました。デザインから実装まで一貫して手がけ、ポップで明るいイメージを表現しました。このアプローチにより、訪問者に親しみやすさとエネルギーを感じてもらえるよう工夫しました。</p>

      <p class ="english">In this project, I designed a page to support collaboration with companies. I was responsible for the entire process, from design to implementation, aiming to create a vibrant and friendly image. This approach ensures visitors feel a sense of warmth and energy.</p>

      <p class ="japanese">使用ツール：Wordpress(Elementor), Figma</p>
      <p class ="english">Tools used: WordPress (Elementor), Figma
      </p>

      <p><a href ="https://circley.jp" target="_blank">https://circley.jp</a></p>
    </div>
  </div>

</div>

<style>
  .work{
    width: 800px;
    height:100vh;
    align-items: center;
    margin:0 auto;
  }

  .work h1{
    color:#03005D;
    margin-bottom: 100px;
  }

  .work1{
    display: flex;
  }

  .pc{
    width:400px;
    display:block;
    position:absolute;
    z-index: 10;
  }

  .work1-image{
    width: 320px;
    margin-top:15px;
    margin-left: 40px;
    position: relative;
    z-index: 0;
  }

  .work1-image:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

  .work-description{
    margin-left:100px;
  }

  a{
    text-decoration: none;
    color:black;
  }

  a:hover{
    text-decoration:underline;
  }

  .english{
    display:none;
  }


</style>
